.SearchFormInput {
  display: inline-block;
  width: 30%;
  font: inherit;
  font-size: 20px;
  border: 2px solid #154c79;

  padding-left: 4px;
  border-radius: 10px;
  padding-right: 4px;
}

.SearchFormInput::placeholder {
  font: inherit;
  font-size: 18px;
}

.form {
  display: flex;
  justify-content: center;
  margin: 10px;
  gap: 10px;

  overflow: hidden;
}

.SearchFormButton {
  border-radius: 30px;
  background-color: #154c79;
  display: inline-block;
  width: 48px;
  height: 48px;
  border: 0;
  background-image: url('https://img.icons8.com/?size=256&id=7695&format=png');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.9;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  outline: none;
}
